[user]
	name = Randy Mikkelsaar
	email = randy.mikkelsaar@gmail.com
[color]
	ui = auto
[alias]
	up = !git fetch && git rebase --autostash FETCH_HEAD
	l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"

[push]
    default = simple
[core]
    excludesfile = /Users/rmikkelsaar/.gitignore
[merge]
    tool = vim -d
[rebase]
        autosquash = true
